html,
body {
    height: 100%;
}

.jumbotron {
    background-image: url('img/screen-shot-2018-03-01-at-11-40-48.png'); 
    opacity: 1;
    position: relative;
}
.jumbotron:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,255,0.3);
}

.redondo {
    
    width: 60px; !important
 }


 
 /* carousel card js */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

.space {
    padding-right: 5px;
}

/* end carousel card js*/

.text-barlow{
    font-family: 'Barlow Semi Condensed', sans-serif;
}